.login {
  background-color: #1e1f25;
  padding: 2rem;
  width: auto;
  border-radius: 0.75rem;
  font-size: 1.3rem;
  color: #c3c3c3;
  box-shadow: 0 5px 50px -12px rgba(238, 108, 77, 0.25);
}

h1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 5px;
  color: white;
  margin-bottom: 2rem;
}

.login-form {
  margin-bottom: 2rem;
}

button {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
}

.google-btn {
  background-color: #131517;
  color: #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 100px;
  margin-bottom: 2rem;
}

.google-btn img {
  width: 1.1rem;
  height: 1.1rem;
}

input {
  background-color: #131517;
  color: #c3c3c3;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
}

.email {
  position: relative;
  margin-bottom: 1rem;
}

.email input {
  padding: 0.75rem 2.5rem;
}

.ri {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  color: rgb(238, 108, 77);
}

.password {
  position: relative;
  margin-bottom: 2rem;
}

.password input {
  padding: 0.75rem 2.5rem;
}

.ri-eye-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  color: #ee6c4d;
}

.ri-eye-icon:hover {
  cursor: pointer;
}

.submit-btn {
  background-color: #ee6c4d;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.submit-btn:hover {
  cursor: pointer;
  color: black;
  transition: all 0.5s;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c3c3c3;
}

span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.forgot-password-link {
  color: #c3c3c3;
  text-decoration: none;
  margin-bottom: 1rem;
}

.forgot-password-link:hover {
  color: #ee6c4d;
  transition: all 0.5s;
}

.sign-up-link {
  text-decoration: none;
  color: #ee6c4d;
}

.sign-up-link:hover {
  color: #c3c3c3;
  transition: all 0.5s;
}

@media (min-width: 1024px) {
  .login {
    width: 400px;
  }
}
